In [4]:
import numpy as np
import pandas as pd

In [25]:
files = ["id", "bert_mrpc.csv", "lr_bert_uncased.csv", "svc_distillbert_multi.csv", "svc_bert_uncased.csv", "lr_distillbert_multi.csv"]

In [59]:
df=pd.read_csv(files[1])

for f in files[2:]:
    df = pd.concat([df, pd.read_csv(f)["target"]],  axis=1, sort="False")
df.columns=files
df.head()

(3249, 2)

,id,bert_mrpc.csv,lr_bert_uncased.csv,svc_distillbert_multi.csv,svc_bert_uncased.csv,lr_distillbert_multi.csv
0,0,1,1,0,1,0
1,2,1,1,0,1,0
2,3,0,1,0,1,0
3,9,1,1,0,1,0
4,11,1,1,1,1,1

In [35]:
df[files[1]] + df[files[2]] + df[files[3]] +df[files[4]] +df[files[5]]

0       3
1       3
2       2
3       3
4       5
       ..
3244    0
3245    5
3246    5
3247    4
3248    4
Length: 3249, dtype: int64

In [53]:
import math
df["final"] = df[files[1]] + df[files[2]] + df[files[3]] +df[files[4]] +df[files[5]]
df["mark"] = df["final"].apply(lambda x: math.ceil(x/5 - 0.5))

In [54]:
df.head(10)

,id,bert_mrpc.csv,lr_bert_uncased.csv,svc_distillbert_multi.csv,svc_bert_uncased.csv,lr_distillbert_multi.csv,final,mark
0,0,1,1,0,1,0,3,1
1,2,1,1,0,1,0,3,1
2,3,0,1,0,1,0,2,0
3,9,1,1,0,1,0,3,1
4,11,1,1,1,1,1,5,1
5,12,1,1,0,1,0,3,1
6,21,0,0,0,0,0,0,0
7,22,0,0,0,0,0,0,0
8,27,0,0,0,0,0,0,0
9,29,0,0,0,0,0,0,0

In [57]:
df.shape

(3249, 8)

In [56]:
import time
submission = pd.DataFrame({"id": df["id"], "target": df["mark"] }, dtype = "int")
fname = '' + time.ctime() + 'submission.csv'
submission.to_csv(fname, index=False, header="id,target")